/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    /* background-color: #1e1e2e; */
    background: linear-gradient(to bottom right, #181823, #482089);
    background-size: cover; 
    height: 100vh;
}

h1{
    color: #fff;
}